@media all and (max-width: 1199px){
	.row.row-gap {
		row-gap: 25px;
	}
}
@media all and (max-width: 1024px){
	.main-content {
		padding-left: 0px;
	}
}
@media all and (max-width: 991px){
	.mu_evant_create_btn a {
		padding: 8px 17px;
		margin-right: 12px;
		font-size: 13px;
	}
	.mu_footer_main {
		flex-direction: column;
	}
}

@media all and (max-width: 767px){
	.mu_evant_create_btn a {
		padding: 5px 15px;
	}
	.deshboard_main_text_account_single_profile_area {
		flex-direction: column;
		row-gap: 23px;
	}

}

@media all and (max-width: 575px){
	.mu_evant_create_btn a span {
		display: none;
	}
	.mu_evant_create_btn a {
		padding: 8px 8px;
	}
	.mu_evant_create_btn a i{
		margin-left: 0px !important;
	}
	.deshboard_main_body_area, .deshboard_main_account_main_area {
		padding: 30px 14px 0 14px;
	}
	.deshboard_main_text_account_single_profile_edit_area_flex {
		display: inherit;
	}
	.deshboard_main_text_account_single_profile_edit_area_flex{
		border-bottom: 0;
	}
	.deshboard_main_text_account_single_profile_edit_area_left {
		padding-bottom: 6px;
	}
	.deshboard_main_text_account_single_profile_area {
		padding: 40px 15px;
	}
	.deshboard_main_body_your_events_area {
		padding: 8px 15px;
	}

}

@media all and (max-width: 450px){
	.mu_notific_pos {
		position: relative;
		margin: 0px 15px;
		color: #008248;
	}
	.mu_notific_pos::before {
		width: 142%;
		left: -7px;
	}
	.navbar {
		padding: .5rem .5rem;
	}
	.footer_right ul {
		justify-content: center;
		margin-top: 10px;
	}
	.main-footer .footer-left {
		text-align: center;
	}
	.deshboard_main_text_account_single_profile_area {
		margin: 0px 0 40px 0px;
	}


}