@media all and (max-width: 1199px){
	/* Rakib css start  */
	.row.row-gap {
		row-gap: 25px;
	}
	.deshboard_main_body_area {
		flex: 0 0 73%;
	}
	.deshboard_main_text_right_profile_area {
		flex: 0 0 27%;
		padding: 50px 20px 20px 20px;
	}
	/* Rakib css enb  */
}
@media all and (max-width: 1024px){
	.main-content {
		padding-left: 0px;
	}
}
@media all and (max-width: 991px){
	.mu_evant_create_btn a {
		padding: 8px 17px;
		margin-right: 12px;
		font-size: 13px;
	}
	.mu_footer_main {
		flex-direction: column;
	}
	/* Rakib css start  */
	.card .card-header {
		padding: 10px 0px;
	}
	.myaccordion .fa-stack {
		right: 2px;
	}
	.deshboard_main_text_right_profile_area {
		flex: 0 0 33%;
	}
	.deshboard_main_body_area {
		flex: 0 0 67%;
	}
	.deshboard_main_body_single_item_area_ex {
		height: 191px;
	}
	.deshboard_main_body_your_events_area .deshboard_main_body_single_item_area_ex {
		height: 100%;
	}
	.deshboard_main_text_account_single_password_card_area p span {
		font-size: 26px;
	}
	.deshboard_main_text_account_single_profile_area {
		flex-direction: column;
		row-gap: 23px;
	}
	/* Rakib css End  */


}

@media all and (max-width: 767px){
	.mu_evant_create_btn a {
		padding: 5px 15px;
	}
	/* Rakib css start  */
	
	.deshboard_help_main_banner_text_area .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
		width: 95%;
		margin: 0 auto;
	}
	.deshboard_main_text_area {
		flex-direction: column-reverse;
	}
	.deshboard_main_text_right_profile_area {
		box-shadow: none;
		padding: 0px 0px 0px 0px;
	}
	.card .card-header .btn {
		padding: 2px 23px 2px 15px;
	}
	.myaccordion .fa-stack {
		right: 0px;
	}
	.card .card-header .btn {
		font-size: 14px;
	}
	.deshboard_main_text_right_protfolio_area_sub {
		padding: 40px 35px;
	}
	.deshboard_main_body_your_events_area .deshboard_main_body_single_item_area_ex {
		height: 191px;
	}
	/* Rakib css start  */

}

@media all and (max-width: 575px){
	.mu_evant_create_btn a span {
		display: none;
	}
	.mu_evant_create_btn a {
		padding: 8px 8px;
	}
	.mu_evant_create_btn a i{
		margin-left: 0px !important;
	}
	/* Rakib css start  */
	.deshboard_main_body_area, .deshboard_main_account_main_area {
		padding: 30px 14px 0 14px;
	}
	.deshboard_main_text_account_single_profile_edit_area_flex {
		display: inherit;
	}
	.deshboard_main_text_account_single_profile_edit_area_flex{
		border-bottom: 0;
	}
	.deshboard_main_text_account_single_profile_edit_area_left {
		padding-bottom: 6px;
	}
	.deshboard_main_text_account_single_profile_area {
		padding: 40px 15px;
	}
	.deshboard_main_body_your_events_area {
		padding: 8px 15px;
	}
	.card .card-header .btn {
		padding: 2px 35px 2px 15px;
	}
	.myaccordion .fa-stack {
		right: -16px;
	}
	.card .card-header .btn {
		text-align: left;
	}
	.deshboard_main_text_area {
		overflow: hidden;
	}
	/* Rakib css End  */

}

@media all and (max-width: 450px){
	.mu_notific_pos {
		position: relative;
		margin: 0px 15px;
		color: #008248;
	}
	.mu_notific_pos::before {
		width: 142%;
		left: -7px;
	}
	.navbar {
		padding: .5rem .5rem;
	}
	.footer_right ul {
		justify-content: center;
		margin-top: 10px;
	}
	.main-footer .footer-left {
		text-align: center;
	}
	/* Rakib css start  */
	.deshboard_main_text_account_single_profile_area {
		margin: 0px 0 40px 0px;
	}
	/* Rakib css start  */


}